doctype html
html
    head
        title 测试页
            //-引入bootstrapCDN
        link(rel='stylesheet' href='https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css' crossorigin='anonymous' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/jquery-2.1.4.min.js')
        script(src='/javascripts/common.js')
        script(type='text/javascript').
            $(function () {
                select()
            })
            function select() {
                var url = "/demo/select";//路由地址
                $.get(url, function (result) {
                    var dataList = result.dataList;
                    if(result.success){
                        var html = '';
                        for (var item in dataList) {
                            html += '<tr>';
                            html += '<td >' + dataList[item]._id + '</td>';
                            html += '<td>' + dataList[item].name + '</td>';
                            html += '<td>';
                            html += '<button class= "btn btn-default btn-sm" onclick ="edit(\'' + dataList[item]._id + '\')">修改</button>';
                            html += '<button class= "btn btn-default btn-sm">删除</button>';
                            html += '</td>';
                            html += '/<tr>';
                        }
                        $("#datacontent").html(html);
                    }

                });

            }
            function edit(id) {
                var url = "/demo/selectById";//路由地址
                var data = {};
                data.id = id
                $.post(url, data, function (result) {
                    if(result.success){
                        $("#name").val(result.data.name);
                        $("#name").attr("dataId",result.data._id);
                    }
                })
            }
            function save(el) {
                var inputDom =  $(el).siblings("div.form-group").children('input');
                var id =  $(inputDom).attr('dataId');
                var val =  $(inputDom).val();
                if(id){
                    var url = "/demo/editById";//路由地址
                    var data = {};
                    data.id = id;
                    data.name = val;
                    $.post(url, data, function (result) {
                        if (result.success) {
                            if(result.success){
                                location.reload();
                            }
                        }
                    })
                }else {
                    alert("请选择要修改的内容！");
                }

            }
block content
    div.table_content
        table.table.table-hover.table-bordered
            thead
                tr
                    th id
                    th 名称
                    th 操作
            tbody#datacontent
    div.edit_content
        form#submit.form-inline
            div.form-group
                label name
                input#name.form-control(type='text' name='name' placeholder='请输入名字' )
            button.btn.btn-default(type='button' onclick='save(this)') 保存




