doctype html
html
    head
        title= title
        link(rel='stylesheet' href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/jquery-2.1.4.min.js')
        script(src='/javascripts/common.js')
    body
        h1= title
        p Hello, #{ip}
        p You're the #{counter} visitor.