doctype html
html
    head
        title #{title}
        link(rel='stylesheet' href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/jquery-2.1.4.min.js')
        script(src='/javascripts/common.js')
        script(type='text/javascript').
            $(function () {
                select()
            })
            function select() {//查询全部
                var url = "/demo/findProduct";//路由地址
                $.get(url, function (result) {
                    var dataList = result.dataList;
                    if (result.success) {
                        var html = '';
                        for (var item in dataList) {
                            html += '<tr>';
                            html += '<td>' + dataList[item].name + '</td>';
                            html += '<td>' + dataList[item].price + '</td>';
                            html += '<td>' + dataList[item].desc + '</td>';
                            html += '/<tr>';
                        }
                        $("#datacontent").html(html);
                    }

                });

            }
body.main-content
    block content
        div.table_content
            h3.text-center 商品表
            div.edit_button.text-right
                button.btn.btn-default.btn-sm(onclick='location.reload()') 刷新
            table.table.table-hover.table-bordered
                thead
                    tr
                        th 名称
                        th 价格
                        th 详情
                tbody#datacontent
   




